@page "/"
@using chd.Caravan.Mobile.UI.Dtos
@using chd.Caravan.Mobile.UI.Interfaces
@inherits PageComponentBase<int,int>

<div class="devices">
    @foreach (var device in devices)
    {
        <div class="device">
            @device.Name (@device.Id) - @device.UID
        </div>
    }
</div>

<FloatingActionNavigation OnClick="this.AddDevice" FAIcon="plus">

</FloatingActionNavigation>

@code {
    [Inject] IBLEManager bLEManager { get; set; }

    List<BLEDevice> devices = [];

    protected override async Task OnInitializedAsync()
    {
        await bLEManager.StartAsync();

        bLEManager.DeviceDiscoverd += this.BleDevice_Discoverd;
        await base.OnInitializedAsync();
    }

    private async void BleDevice_Discoverd(object? sender, BLEDeviceFoundArgs args)
    {
        devices.Add(args.Device);
        await this.InvokeAsync(this.StateHasChanged);
    }

    private async Task AddDevice()
    {

    }
}