.aes-control {
    height: 4.1rem;
    width: max(90%,15rem);
    border: 0.2rem solid var(--bs-white);
    border-radius: 0.5rem;
    background-color: var(--chd-lightgrey);
}

    .aes-control .aes-control-content {
        display: flex;
        height: max-content;
        color: var(--chd-bg);
        padding: 0.2rem;
        gap: 0.2rem;
    }

        .aes-control .aes-control-content .aes-active {
            display:flex;
            justify-content:center;
            align-content:center;
            align-items:center;
        }

        .aes-control .aes-control-content .aes-active-content {
            font-size: 0.7rem;
            display: flex;
            width:100%;
            flex-direction: column;
            background-color: white;
            border-radius: 0.5rem;
            padding: 0.15rem;
        }

            .aes-control .aes-control-content .aes-active-content .aes-active-since {
            }

            .aes-control .aes-control-content .aes-active-content .aes-active-battery-limit {
            }

            .aes-control .aes-control-content .aes-active-content .aes-active-battery-amp-limit {
            }
