.loading-solar-container {
    display: flex;
    flex-direction: column;
    width: min(100%,9.5rem);
}

    .loading-solar-container .solar-loading-state {
        width: 100%;
    }

        .loading-solar-container .solar-loading-state .current-loading {
            margin-left:2rem;
            width: 4rem;
            height: 1rem;
            border: 0.15rem solid white;
            border-radius: 0.5rem 0.5rem 0 0;
            background-color: white;
            padding: 0;
        }

            .loading-solar-container .solar-loading-state .current-loading .current-loading-bar {
                border-radius: 0.5rem 0.5rem 0 0;
            }

                .loading-solar-container .solar-loading-state .current-loading .current-loading-bar.active {
                    animation: loadingSolar 3s linear infinite;
                    background-color: var(--chd-green-semi-transparent);
                }

                .loading-solar-container .solar-loading-state .current-loading .current-loading-bar.reduce {
                    animation: loadingSolar 3s linear infinite;
                    background-color: var(--chd-red-semi-transparent);
                }

                .loading-solar-container .solar-loading-state .current-loading .current-loading-bar.standby {
                    background-color: var(--chd-grey-semi-transparent);
                }

        .loading-solar-container .solar-loading-state .solar-charging {
            width: 9.5rem;
            border: 0.2rem solid white;
            height: 3.2rem;
            border-radius: 0.8rem;
            padding: 0.1rem;
        }

            .loading-solar-container .solar-loading-state .solar-charging.active {
                background-color: var(--chd-green-semi-transparent);
            }

            .loading-solar-container .solar-loading-state .solar-charging.reduce {
                background-color: var(--chd-red-semi-transparent);
            }

            .loading-solar-container .solar-loading-state .solar-charging.standby {
                background-color: var(--chd-lightgrey);
            }

            .loading-solar-container .solar-loading-state .solar-charging .solar-loading-state-bar {
                display: flex;
                height: 100%;
                background-color: white;
                border-radius: 0.6rem;
                color: var(--chd-bg);
            }

                .loading-solar-container .solar-loading-state .solar-charging .solar-loading-state-bar .solar-loading-state {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-around;
                    width:100%;
                }

                    .loading-solar-container .solar-loading-state .solar-charging .solar-loading-state-bar .solar-loading-state .solar-loading-state-icon ::deep svg {
                        fill: var(--chd-bg);
                        order: 1;
                    }

                    .loading-solar-container .solar-loading-state .solar-charging .solar-loading-state-bar .solar-loading-state .amp {
                        font-size: 16pt;
                        font-weight: bold;
                        order: 2;
                    }

                    .loading-solar-container .solar-loading-state .solar-charging .solar-loading-state-bar .solar-loading-state .loading-phase {
                        font-size: 10pt;
                        order: 4;
                    }

                    .loading-solar-container .solar-loading-state .solar-charging .solar-loading-state-bar .solar-loading-state .state {
                        order: 3;
                        display: flex;
                        flex-direction: row;
                        align-content: center;
                        align-items:center;
                    }

                        .loading-solar-container .solar-loading-state .solar-charging .solar-loading-state-bar .solar-loading-state .state .state-indicator {
                            width: 0.8rem;
                            height: 0.8rem;
                            border: 0.1rem solid black;
                            border-radius: 0.3rem;
                            
                        }

                            .loading-solar-container .solar-loading-state .solar-charging .solar-loading-state-bar .solar-loading-state .state .state-indicator.aes {
                                background-color: var(--chd-green-semi-transparent);
                            }

                            .loading-solar-container .solar-loading-state .solar-charging .solar-loading-state-bar .solar-loading-state .state .state-indicator.reduce {
                                background-color: var(--chd-green-semi-transparent);
                            }

                        .loading-solar-container .solar-loading-state .solar-charging .solar-loading-state-bar .solar-loading-state .state .state-indicator-text {
                            font-size: 0.8rem;
                        }

@keyframes loadingSolar {
    0% {
        height: 1rem;
    }

    100% {
        height: 10%;
    }
}
