@inherits PageComponentBase<int,int>
@using Blazored.Toast.Configuration
@inject IHandleUserIdLogin<int> handleUserIdLogin
@inject IProfileService<int,int> profileService 
@inject IScrollInfoService scrollInfoService

<div class="page">
    <NavMenu />

    <main class="" >
        <div class="top-row">
            <Header PageTitle="@this.Title"></Header>
        </div>
        <article id="main-article" class="content px-4" @onscroll="scrollInfoService.Scrolled">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5"
                MaxToastCount="3"
                RemoveToastsOnNavigation="true"
                ShowProgressBar="true">
    <CloseButtonContent>
        <div>
            <span>&times;</span>
        </div>
    </CloseButtonContent>
</BlazoredToasts>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (await handleUserIdLogin.IsEnabled)
        {
            var id = await handleUserIdLogin.GetIdAsync();
            if (id.HasValue)
            {
                await profileService.LoginAsync(new()
                    {
                        Id = id,
                        StayLoggedIn = true,
                    });
            }
        }

        await base.OnInitializedAsync();
    }
}