main {
    position: absolute;
    width: 100%;
    margin-top: 0.5rem !important;
}


article {
    position: relative;
    padding: 0 !important;
}

    article ::deep * {
        max-width: var(--main-article-available-width);
    }

