.device {
    border: 1px solid var(--chd-font-color);
    border-radius: 0.5rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

    .device.current {
        border: 1px solid var(--chd-main-color-theme);
    }

    .device .device-name {
        font-size: 1rem;
    }

    .device .device-id {
        font-size: 0.8rem;
    }
