@using chd.Caravan.Mobile.UI.Dtos
@using chd.Caravan.Mobile.UI.Interfaces

<div class="device @(this.IsCurrentDevice.Invoke(Device) ? "current" : "") " @onclick="async()=>await this.OnClick(this.Device)">
    <div class="device-name">
        @(string.IsNullOrWhiteSpace(Device.DisplayName) ? Device.Name : Device.DisplayName) (@Device.Type)
    </div>
    <div class="device-id">
        @Device.UID
    </div>
</div>

@code {
    [Parameter] public BLEDevice Device { get; set; }
    [Parameter] public Func<BLEDevice, bool> IsCurrentDevice { get; set; }
    [Parameter] public Func<BLEDevice, Task> OnClick { get; set; }


    [Inject] IBLEManager bLEManager { get; set; }


}