@using chd.CaraVan.Contracts.Interfaces
@using chd.CaraVan.UI.Dtos


@if (this._setting is null) { return; }
<div class="control">

</div>

@code {
    [Inject] ISystemControlService systemControlService { get; set; }

    private HomeSettingDto _setting;

    protected override async Task OnInitializedAsync()
    {
        this._setting = await this.systemControlService.GetCurrentSettingAsync();
        await base.OnInitializedAsync();
    }


}