@using Blazored.Modal
@using chd.Caravan.Mobile.UI.Constants
@using chd.Caravan.Mobile.UI.Dtos
@using chd.Caravan.Mobile.UI.Enums
@using chd.Caravan.Mobile.UI.Interfaces
@using chd.UI.Base.Contracts.Enum

<div class="device-settings">

    <div class="setting">
        <div class="setting-label">Name</div>
        <div class="setting-value">
            <input type="text" @bind-value="Device.DisplayName" @bind-value:event="oninput" />
        </div>
    </div>

    <div class="setting">
        <div class="setting-label">Type</div>
        <select @bind="@Device.Type" class="setting-value">
            @foreach (var type in Enum.GetValues<EDeviceType>())
            {
                <option value="@type" selected="@(Device.Type ==type )">@DeviceTypeName(type)</option>
            }
        </select>
    </div>
</div>
@code {

    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public BLEDevice Device { get; set; }
    [Inject] IBLEManager bLEManager { get; set; }

    private string DeviceTypeName(EDeviceType type) => type switch
    {
        EDeviceType.Ruuvi => "Ruuvi Tag",
        EDeviceType.Votronic => "Votronic",
        EDeviceType.HeartRate => "Heartrate Monitor",
        _ => "Default"
    };
}
