.loading-battery-container {
    display: flex;
    flex-direction: column;
    width:60vw;
}

    .loading-battery-container .loading-container-date {
        display: none;
    }

    .loading-battery-container .battery-loading-state {
    }

        .loading-battery-container .battery-loading-state .battery-pols {
            height: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

            .loading-battery-container .battery-loading-state .battery-pols .current-loading {
                display: flex;
                width: 4rem;
                border: 0.1rem solid white;
                border-radius: 0.5rem 0.5rem 0 0;
                background-color: white;
            }

                .loading-battery-container .battery-loading-state .battery-pols .current-loading.plus {
                }

                .loading-battery-container .battery-loading-state .battery-pols .current-loading.minus {
                }

                .loading-battery-container .battery-loading-state .battery-pols .current-loading .current-loading-bar {
                    height: 100%;
                    width: 100%;
                    border: 0.15rem solid white;
                    border-radius: 0.5rem 0.5rem 0 0;
                    padding: 0.1rem;
                }

                    .loading-battery-container .battery-loading-state .battery-pols .current-loading .current-loading-bar.loading {
                        background-color: var(--chd-green);
                    }

                    .loading-battery-container .battery-loading-state .battery-pols .current-loading .current-loading-bar.deloading {
                        background-color: var(--chd-red);
                    }

                    .loading-battery-container .battery-loading-state .battery-pols .current-loading .current-loading-bar.none {
                        background-color: var(--bs-gray);
                    }

                    .loading-battery-container .battery-loading-state .battery-pols .current-loading .current-loading-bar .current-loading-state {
                        text-align: right;
                        padding: 0.1rem;
                    }

                        .loading-battery-container .battery-loading-state .battery-pols .current-loading .current-loading-bar .current-loading-state .current-amp {
                            font-size: 0.9rem;
                            color: white
                        }

                .loading-battery-container .battery-loading-state .battery-pols .current-loading.loading {
                }

                .loading-battery-container .battery-loading-state .battery-pols .current-loading.deloading {
                }

                .loading-battery-container .battery-loading-state .battery-pols .current-loading.none {
                }

        .loading-battery-container .battery-loading-state .battery-charging {
            padding: 0.2rem;
            border: 0.2rem solid white;
            border-radius: 0.8rem;
            background-color: var(--chd-lightgrey);
            --percent-loading: 100%;
        }

            .loading-battery-container .battery-loading-state .battery-charging .battery-loading-state-bar {
                display: flex;
                justify-content: space-between;
                background-color: white;
                border-radius: 0.3rem;
            }


                .loading-battery-container .battery-loading-state .battery-charging .battery-loading-state-bar .battery-loading-bar {
                    width: var(--percent-loading);
                    height: 5rem;
                    border-radius: 0.3rem;
                }

                    .loading-battery-container .battery-loading-state .battery-charging .battery-loading-state-bar .battery-loading-bar.loading {
                        background-color: var(--bs-success);
                    }

                    .loading-battery-container .battery-loading-state .battery-charging .battery-loading-state-bar .battery-loading-bar.deloading {
                        background-color: var(--chd-red-semi-transparent);
                    }

                    .loading-battery-container .battery-loading-state .battery-charging .battery-loading-state-bar .battery-loading-bar.none {
                        width: 100%;
                        background-color: white;
                    }

                .loading-battery-container .battery-loading-state .battery-charging .battery-loading-state-bar .battery-loading-state {
                    border-left: 1px solid var(--chd-grey);
                    display: flex;
                    flex-direction: column;
                    padding: 0.1rem;
                    justify-content: space-evenly;
                    align-items: end;
                    color: var(--chd-bg);
                }

                    .loading-battery-container .battery-loading-state .battery-charging .battery-loading-state-bar .battery-loading-state .battery-loading-state-icon {
                    }

                        .loading-battery-container .battery-loading-state .battery-charging .battery-loading-state-bar .battery-loading-state .battery-loading-state-icon ::deep svg {
                            fill: var(--chd-bg);
                        }


@keyframes loading {
    0% {
        height: 0%;
        bottom: 0;
    }

    100% {
        height: 100%;
        bottom: 0;
    }
}

@keyframes deloading {
    0% {
        height: 100%;
        bottom: 0;
    }

    100% {
        height: 0%;
        bottom: 0;
    }
}
