.device-scanner {
    display: flex;
    flex-direction:column;
    gap: 0.2em;
}

    .device-scanner.devices {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }

        .device-scanner .devices .device {
            border: 1px solid var(--chd-font-color);
            border-radius: 0.5rem;
            padding: 0.2rem;
            display: flex;
            flex-direction: column;
            width: 100%;
        }

            .device-scanner .devices .device.current {
                border: 1px solid var(--chd-main-color-theme);
            }

            .device-scanner .devices .device .device-name {
                font-size: 0.8rem;
            }

            .device-scanner .devices .device .device-id {
                font-size: 0.6rem;
            }
