@using chd.Caravan.Mobile.UI.Constants
@using chd.Caravan.Mobile.UI.Interfaces
<div class="settings">
    <div class="setting">
        Api: <input type="text" value="@this._baseAddress" @onchange="this.BaseAddressChanged" />
    </div>
</div>


@code {
    [Inject] ISettingManager settingManager { get; set; }
    private string _baseAddress = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        this._baseAddress = (await this.settingManager.GetNativSetting<string>(SettingConstants.BaseAddress)) ?? string.Empty;
        await base.OnInitializedAsync();
    }

    private async Task BaseAddressChanged(ChangeEventArgs e)
    {
        this._baseAddress = e.Value.ToString();
        await this.settingManager.SetNativSetting(SettingConstants.BaseAddress, this._baseAddress);
    }
}