@using chd.CaraVan.UI.Components
@inject IHostEnvironment Env
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="chd.CaraVan.Web.styles.css" />
    <link href="_content/chd.CaraVan.UI/css/app.css" rel="stylesheet" />
    @* <link href="_content/chd.CaraVan.UI/css/bt.css" rel="stylesheet" /> *@
    <link href="_content/chd.UI.Base.Components/css/chd.UI.Base.Components.css" rel="stylesheet" />
@* 
    <link href="_content/Blazorise.Icons.FontAwesome/v6/css/all.min.css" rel="stylesheet">
    <link href="_content/Blazorise/blazorise.css?v=1.7.5.0" rel="stylesheet" />
    <link href="_content/Blazorise.Bootstrap5/blazorise.bootstrap5.css?v=1.7.5.0" rel="stylesheet" /> *@


    <link rel="icon" type="image/png" href="_content/chd.CaraVan.UI/favicon.png" />
    <HeadOutlet />
</head>

<body>
    <div id="app" class="main-app">
        <Routes @rendermode="new InteractiveServerRenderMode(false)" />

        <div id="blazor-error-ui" data-nosnippet>
            @if (Env.IsProduction())
            {
                <span>An error has occurred.</span>
            }
            else
            {
                <span>An unhandled exception occurred.</span>
            }
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>

    </div>
    <script src="_content/chd.UI.Base.Components/js/CSSUtilities.js"></script>
    <script src="_content/chd.UI.Base.Components/js/ScrollScripts.js"></script>
    <script src="_content/chd.UI.Base.Components/js/qrcode.js"></script>

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/chd.UI.Base.Components/js/fontawesome.js"></script>
    <script src="_content/chd.UI.Base.Components/js/Reconnect.js"></script>
</body>

</html>
