.sensor-container {
    width: 80vw;
    height: max-content;
    color: var(--chd-bg);
    display: flex;
    flex-direction: column;
    align-items: end;
}

    .sensor-container .sensor-header {
        border: 0.15rem solid white;
        border-bottom: 0;
        border-radius: 0.5rem 0.5rem 0 0;
        padding: 0.2rem;
    }

        .sensor-container .sensor-header .sensor-header-content {
            border-bottom: 0;
            border-radius: 0.5rem 0.5rem 0 0;
            background-color: white;
            display: flex;
            justify-content: space-between;
            gap: 5rem;
            padding-right: 0.1rem;
        }

            .sensor-container .sensor-header .sensor-header-content .sensor-logo ::deep svg {
                fill: var(--chd-bg);
            }

            .sensor-container .sensor-header .sensor-header-content .sensor-name {
                font-size: 1.2rem;
            }


    .sensor-container .sensor-data {
        border: 0.2rem solid white;
        border-radius: 1rem 0rem 1rem 1rem;
        padding: 0.4rem;
    }

        .sensor-container .sensor-data .sensor-data-content {
            display: flex;
            flex-wrap: wrap;
            border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
            background-color: white;
            justify-content: space-around;
        }

            .sensor-container .sensor-data .sensor-data-content .sensor-value {
            }

                .sensor-container .sensor-data .sensor-data-content .sensor-value.current {
                    order: 3;
                    font-size: 3rem;
                    font-weight: bold;
                }

                .sensor-container .sensor-data .sensor-data-content .sensor-value.time {
                    order: 5;
                    font-size: 0.8rem;
                }

                .sensor-container .sensor-data .sensor-data-content .sensor-value.bound {
                    width: 5.5rem;
                    font-size: 1.5rem;
                    text-align: center;
                    border-radius: 0 0 0.3rem 0.3rem;
                }

                .sensor-container .sensor-data .sensor-data-content .sensor-value.max {
                    order: 1;
                    border: 0.2rem solid red;
                    border-top: 0;
                }

                .sensor-container .sensor-data .sensor-data-content .sensor-value.min {
                    border: 0.2rem solid blue;
                    border-top: 0;
                    order: 2;
                }
