@page "/"
@using chd.CaraVan.Contracts.Dtos
@using chd.CaraVan.UI.Components.Pages.Cards
@inherits PageComponentBase<int,int>

<div class="home-content">

    @if (this.VotronicBatteryData != null)
    {
        <LoadingCard BatteryData="@VotronicBatteryData" SolarData="@VotronicSolarData" />
    }

    @foreach (var device in this._devices)
    {
        @if (this._valueDict.ContainsKey(device.Id))
        {
            <SensorCard Time="this.RuuviTime(device).Value"
                        Name="@device.Name"
                        Value="this.RuuviValue(device).Value"
                        Min="this.MinMax(device).Item1"
                        Max="this.MinMax(device).Item2" />
        }
    }
</div>