@page "/settings"
@implements IDisposable
@inherits PageComponentBase<int,int>
@using chd.CaraVan.UI.Components.Pages.Cards


<div class="setting">
    Version: @this._currentVersion
</div>

<ServiceState Token="this._cts.Token" Service="pitunnel" />

<Reboot Token="this._cts.Token" />

<div class="setting">
    Basis Adresse:
    <input type="text" value="@this._baseAddress" @onchange="async (e)=>await this.UpdateMainUrl(e)" />
</div>

@code {
    private CancellationTokenSource _cts = new();
    private string _baseAddress = string.Empty;
    private Version _currentVersion;

    protected override async Task OnInitializedAsync()
    {
        this.Title = "Settings";

        this._baseAddress = await this._settingManager.MainUrl;
        this._currentVersion = await this._updateService.CurrentVersion();
    }

    public void Dispose()
    {
        this._cts.Cancel();
        this._cts.Dispose();
    }
}