@implements IDisposable
@inject ISettingManager settingManager
@inject IUpdateService updateService
@using chd.CaraVan.Contracts.Contants
@using chd.CaraVan.UI.Components.Pages.Cards
@using chd.CaraVan.UI.Dtos

<div class="settings">
    <div class="setting">
        <SwitchButton Text="Autorotate" Checked="this.IsAutorotate()" CheckedChanged="this.ChangeAutorotate" />
    </div>
    <div class="setting">
        <input type="number" @bind-value="this.HomeSetting.RotationTime" />
    </div>
    <div class="setting">
        <Reboot Token="this._cts.Token" />
    </div>
</div>

@code {
    [Parameter] public HomeSettingDto HomeSetting { get; set; }

    private CancellationTokenSource _cts = new();

    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();
    }

    private void ChangeAutorotate(bool val)
    {
        this.HomeSetting.AutorotateCarousel = val;
    }

    private async Task<bool> IsAutorotate(CancellationToken cancellationToken = default) => this.HomeSetting.AutorotateCarousel;

    public void Dispose()
    {
        this._cts.Cancel();
        this._cts.Dispose();
    }
}