.settings {
    padding: 0.1rem;
    display: grid;
    flex-wrap:wrap;
    gap: 0.2rem;
}

    .settings .setting {
        display: flex;
        height: 2.2rem;
    }
        .settings .setting ::deep .switch-button{
            width:4rem;
        }
        .settings .setting .setting-label {
            line-height:2rem;
            font-size: 1.8rem;
            align-content:center;
            color: white;
            width:50%;
        }

        .settings .setting.rotationtime input[type=number] {
            width: 3rem;
            font-size: 1rem;
            border: 1px solid var(--chd-font-color);
            border-radius: 0.5rem;
            text-align: center;
           margin: 0 0.2rem 0 0.2rem;
        }
