@using chd.UI.Base.Contracts.Enum

<div class="nav-menu">
    <NavMenuBase Visible="false">
        <ImageContent>
            <IconButton FAClass="caravan" OnClick="()=>this.GoHome()" />
        </ImageContent>
        <MenuContent>
            <NavItem href="" Match="NavLinkMatch.All" IconFAClass="gauge" Title="Dashboard" />
        </MenuContent>
        <BottomContent>
        </BottomContent>
    </NavMenuBase>
</div>